.content {
  padding: 50px;
}
.content__circle {
  width: 100px;
  height: 100px;
  background-color: rgb(217, 85, 85);
  border-radius: 50%;
  position: relative;
  left: 0;
  animation-name: white-circle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2s;
}
.wrapper:hover .content__circle {
  animation-play-state: paused;
}

@keyframes white-circle {
  0% {
    left: 0px;
  }
  50% {
    background-color: rgb(13, 245, 44);
    border-radius: 10px;
  }
  100% {
    left: 500px;
  }
}
